/* Doctor's Styles */
body {
    background-color: #e8f4f8;
}

h1 {
    color: #00796b;
}

input {
    background-color: #ffffff;
    border: 1px solid #00796b;
}

button {
    background-color: #00796b;
}

button:hover {
    background-color: #004d40;
}

li {
    background-color: #ffffff;
    border: 1px solid #00796b;
}

.deleteBtn {
    background-color: #d32f2f;
}

.deleteBtn:hover {
    background-color: #c2185b;
}
